@import url("../../node_modules/katex/dist/katex.css");
@import url("../../node_modules/typeface-jetbrains-mono/dist/index.css");
@import url("../../node_modules/typeface-tex-gyre-pagella/index.css");
@import url("../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css");
@import url("../../node_modules/@fortawesome/fontawesome-free/css/solid.css");

i {
  font-family: font-awesome;
  font-style: normal;
}

body {
  background-color: #fff;
}

form.ublatt > .main > section > ol {
  counter-reset: list;
  margin: 0;
}

form.ublatt > .main > section > ol > li {
  list-style: none;
  position: relative;
}

form.ublatt > .main > section > ol > li:before {
  counter-increment: list;
  content: "(" counter(list, lower-alpha) ") ";
  position: absolute;
  left: -1.6em;
}

form.ublatt {
  background-color: #fff;
  display: block;
  margin: auto;
  width: 55rem;
  box-shadow: 0.1rem 0.1rem 1rem #ddd;
  padding: 2rem 3rem;
  margin: 2rem auto;
  font-family: 'TeX Gyre Pagella';
  counter-reset: figure;
}

form.ublatt::before {
  display: block;
  height: 5rem;
  content: '';
  background-image: url("logo.png");
  background-size: auto 2.7rem;
  background-position: 3rem 1rem;
  background-repeat: no-repeat;
  border-bottom: 0.0667rem solid black;
}
form.ublatt .head {
  margin: 1rem 3rem 3rem 3rem;
  display: grid;
  grid-template-columns:
    [left] min-content
    [left2] max-content
    [middle] auto
    [right] max-content
    [end];
  grid-template-rows:
    [top] min-content
    [title] min-content
    [issued] min-content
    [due] min-content;
}
form.ublatt .head .title {
  grid-column: left / middle;
  grid-row: 1;
}
form.ublatt .head .term {
  margin: 0 1em;
  grid-column: middle;
  grid-row: 1;
}
form.ublatt .head .lecturers {
  grid-column: right;
  grid-row: 1/3;
  padding: 0;
  margin: 0;
  list-style: none;
}
form.ublatt .head .lecturers li {
  margin: none;
}
form.ublatt .head .sheetnum {
  grid-row: 2;
  grid-column: left / end;
  font-size: 2.074rem;
  font-weight: 900;
  margin: 1rem 0 0.5rem 0;
}
form.ublatt .head .sheetnum:after {
  content: '. ' var(--sheet-title,'Übungsblatt')
}

form.ublatt .head .issued, form.ublatt .head .due {
  grid-column: left2;
  font-size: 1.2rem;
  line-height: 1.2;
}

form.ublatt .head .issued {
  grid-row: 3;
}

form.ublatt .head .due {  
  grid-row: 4;
}

form.ublatt .head::before, form.ublatt .head::after {
  font-size: 1.2rem;
  line-height: 1.2;
  grid-column: left;
  font-weight: bold;
  padding-right: 1em;
}
form.ublatt .head::before {
  grid-row: 3;
  content: var(--issued, 'Ausgabe') ': ';
}
form.ublatt .head::after {
  grid-row: 4;
  display: var(--due-display, none);
  content: var(--due, 'Abgabe') ': ';  
}
form.ublatt .main {
  margin: 1em 3rem;
}
form.ublatt .math.display {
  display: block;
  text-align: center;
  margin: 16px;
}
/*form.ublatt h1,
form.ublatt h2,
form.ublatt h3,
form.ublatt h4,
form.ublatt h5,
form.ublatt h6 {
  font-family: "Computer Modern Sans";
}*/
form.ublatt textarea {
  padding: 8px;
  width: calc(100% - 16px);
}
.row .column:first-child {
  padding-right: 8px;
}
.row .column:last-child {
  padding-left: 8px;
}
.column {
  float: left;
  width: calc(50% - 8px);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.CodeMirror {
  height: auto;
  font-family: "JetBrains Mono";
}
table {
  margin: auto;
  border-collapse: collapse;
}
/*.figure::after {
  margin-top: 0.5rem;
  font-size: 0.8em;
  display: block;
  text-align: center;
  counter-increment: figure;
  content: "Figure " counter(figure);
}*/
th {
  padding: 0.5rem 1rem;
  border-bottom: 0.1rem solid black;
}
td {
  padding: 0.5rem 1rem;  
  border-bottom: 0.1rem solid #ddd;
}

form.ublatt > .main {
  counter-reset: h1
}

form.ublatt > .main > section > h1:before {
    counter-increment: h1;
    content: var(--sheet-num) '.' counter(h1);
    font-size: 1.44rem;
    display: inline-block;
    border: 0.0667rem solid black;
    padding: 0.1rem 0.2rem 0rem 0.2rem;
    text-align: center;
    font-weight: normal;
    margin-right: 0.5rem;
}

form.ublatt > .main > section > h1:first-child {
  font-size: 1.44rem;
  font-weight: normal;
  font-style: italic;
}

.figure {
  text-align: center;
}

.figure img {
  max-width: 80%;
}

input[type=checkbox] + label, input[type=radio] + label {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

:hover > input[type=checkbox] + label::before, :hover >  input[type=radio] + label::before {
  border-color: #000;
  background-color: rgba(0,0,0,0.03);
}

input[type=checkbox] + label::before, input[type=radio] + label::before {
  content: '✔';
  overflow: visible;
  color: transparent;
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
  border: 0.1rem solid #ccc;  
  transition: border-color 0.2s ease,
              color 0.2s ease,
              background-color 0.2s ease;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  flex-shrink: 0;
  text-align: center;
  vertical-align: middle;
}

input[type=radio] + label::before {
  border-radius: 50%;
}

input[type=checkbox]:checked + label::before, input[type=radio]:checked + label::before {
  color: #0022cc;
}

code {
  font-family: "JetBrains Mono";
}

pre code {
  display: block;
  padding: 1rem 2rem !important;
  border: 0.05rem solid #ddd;
  background-color: rgba(0,0,0,0.05);
  border-radius: 0.2rem;  
}



.code > .CodeMirror {
  border: 0.05rem solid #ddd;
  transition: border-color 0.3s ease;
}

.code > .CodeMirror:hover, .code > .CodeMirror.CodeMirror-focused {
  border: 0.05rem solid #000;
}

.code > .CodeMirror .CodeMirror-lines {
  padding: 1rem 0;
}

.code > .CodeMirror .CodeMirror-gutters {
  min-width: 2rem;
  background: none;
  border-right: 0.05rem solid #ddd;
}

.code > .CodeMirror .CodeMirror-linenumber {
  color: #2b91af;
}

code span.al { /* Alert */
  color: #95da4c;
}
code span.an { /* Annotation */
  color: #3f8058;
}
code span.at { /* Attribute */
  color: #2980b9;
}
code span.bn { /* BaseN */
  color: #f67400;
}
code span.bu { /* BuiltIn */
  color: #7f8c8d;
}
code span.cf { /* ControlFlow */
  color: #af00db;
}
code span.ch { /* Char */
  color: #3daee9;
}
code span.cn { /* Constant */
  color: #27aeae;
}
code span.co { /* Comment */
  color: #008000;
}
code span.cv { /* CommentVar */
  color: #7f8c8d;
}
code span.do { /* Documentation */
  color: #a43340;
}
code span.dt { /* DataType */
  color: #2980b9;
}
code span.dv { /* DecVal */
  color: #09885a;
}
code span.er { /* Error */
  color: #da4453;
}
code span.ex { /* Extension */
  color: #0099ff;
}
code span.fl { /* Float */
  color: #f67400;
}
code span.fu { /* Function */
  color: #8e44ad;
}
code span.im { /* Import */
  color: #27ae60;
}
code span.in { /* Information */
  color: #c45b00;
}
code span.kw { /* Keyword */
  color: blue;
}
code span.op { /* Operator */
  color: #cfcfc2;
}
code span.ot { /* Other */
  color: #27ae60;
}
code span.pp { /* Preprocessor */
  color: #27ae60;
}
code span.re { /* RegionMarker */
  color: #2980b9;
}
code span.sc { /* SpecialChar */
  color: #3daee9;
}
code span.ss { /* SpecialString */
  color: #da4453;
}
code span.st { /* String */
  color: #800000;
}
code span.va { /* Variable */
  color: #27aeae;
}
code span.vs { /* VerbatimString */
  color: #da4453;
}
code span.wa { /* Warning */
  color: #da4453;
}

.info {
  background-color: #eee;
  padding: 0.5em 1em 0.5em 3em;
  font-style: italic;  
  margin-bottom: 1em;
  position: relative;
}

.info::before {
  content: 'ⓘ';
  font-style: normal;
  position: absolute;
  top: 1.5em;
  left: 1.3em;
}

.submit {
  background: #eee;
  margin: 2rem -3rem -2rem -3rem;
  padding: 0 3rem 2rem 3rem;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

.submit > div:not(:first-child) {
  padding-left: 2rem;  
}

.submit button {
  width: 4rem;
  height: 4rem;
}

.submit button img {
  width: 3rem;
  height: 3rem;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.submit table.authors {
  text-align: left;
  line-height: 1.5rem;
  white-space: nowrap;
}

a {
  cursor: pointer;
}

a:hover {
  color: #333;
}

.submit .field {
  text-align: left;
  font-size: 1rem;
  display: block;
  background: none;
  border: 1px solid #eee;
  font-family: 'TeX Gyre Pagella';
  width: auto;
}

.compact > ul,
.compact > ol {   
  display: flex;
  flex-flow: row;  
  justify-content: center;
}

.compact > ul > li,
.compact > ol > li {
  margin: 0 1rem;
}


.center {
  text-align: center;
}

.icon > i {
  width: 1rem;
  height: 1rem;
}

.icon.large > i {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}

.icon.large {
  display: inline-block;
  line-height: 2rem;
  vertical-align: middle;  
}

.assess {
  font-family: 'TeX Gyre Pagella';
  position: absolute;
  right: -5rem;
  width: 4rem;
  top: 0;
}

.solution {
  position: relative;
  color: blue;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: stretch;
}

.solution > .submission {
  min-width: calc(50% - 1rem);
}

.solution > .submission::before {
  content: 'Eure Lösung:';
  margin-bottom: 1rem;
  display: block;
}

.solution > .feedback::before {
  content: 'Feedback:';
  margin-bottom: 1rem;
  display: block;  
}

.solution.fail > .submission {
  color: red;
}

.solution .assess::before {
  content: '✓';
  font-size: 2rem;
  color: green;
}

.solution .assess.fail::before {
  content: '✗';
  color: red;
}

.solution > .feedback {
  color: blue;
  display: none;
}

.solution.fail > .feedback {
  display: block;
}

.solution > .submission {
  color: green;
  display: block;
}
