@import url('https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/tex-gyre-pagella');
@import url('./icons/icons.css');

:root {
  --text-color: #000;
  --background: #fff;
  --border-color: #999;
  --border-width: 0.667rem;
  --highlight-color: #00f;
  --sheet-shadow: 
}

body {
  background-color: #fff;
  margin: 0;
}

form.ublatt > .main > section > ol {
  counter-reset: list;  
  margin: 0;  
}

form.ublatt > .main > section > ol > li {
  list-style: none;
  position: relative;
}

form.ublatt > .main > section > ol > li:before {
  counter-increment: list;
  content: "(" counter(list, lower-alpha) ") ";
  position: absolute;
  left: -1.6em;
}

form.ublatt {
  font-family: 'TeXGyrePagella', sans-serif;
  color-adjust: exact;
  display: block;
  counter-reset: figure;
}

@media only screen and (min-width: 60rem) {
  form.ublatt {
    background-color: #fff;
    margin: auto;
    max-width: 55rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #aaa;  
    margin: 2rem auto;  
    counter-reset: figure;
    padding: 2rem 3rem;
  }  
}


form.ublatt::before {
  display: block;
  height: 3.6rem;
  font-family: Arial, Helvetica, sans-serif;
  content: 'Universtität Bremen';  
  background-image: url("images/logo.svg");
  background-size: auto 2.7rem;
  background-position: 1rem 1rem;
  background-repeat: no-repeat;
  border-bottom: 0.0667rem solid black;
  padding-left: 4.2rem;
  font-size: 1.4rem;
  padding-top: 1.4rem;
}


@media only screen and (min-width: 40rem) {
  form.ublatt::before {
    background-position: 3rem 1rem;
    padding-left: 6.2rem;
  }
}

form.ublatt .head {
  margin: 1rem;
  display: grid;
  grid-template-columns:
    [left] min-content
    [left2] max-content
    [middle] auto
    [right] max-content
    [end];
  grid-template-rows:
    [top] min-content
    [title] min-content
    [issued] min-content
    [due] min-content;
}

@media only screen and (min-width: 40rem) {
  form.ublatt .head {
    margin: 1rem 3rem;
  }  
}


form.ublatt .head .title {
  grid-column: left / middle;
  grid-row: 1;
}

form.ublatt .head .term {
  margin: 0 1em;
  grid-column: middle;
  grid-row: 1;  
}

form.ublatt .head .lecturers {
  grid-column: right;
  grid-row: 1/3;
  padding: 0;
  margin: 0;
  list-style: none;
}

form.ublatt .head .lecturers li {
  margin: 0;
}

form.ublatt .head .sheetnum {
  grid-row: 2;
  grid-column: left / end;
  font-size: 2.074rem;
  font-weight: 900;
  margin: 1rem 0 0.5rem 0;
}

form.ublatt .head .issued, form.ublatt .head .due {
  grid-column: left2;
  font-size: 1.2rem;
  line-height: 1.2;
}

form.ublatt .head .issued {
  grid-row: 3;
}

form.ublatt .head .due {  
  grid-row: 4;
}

form.ublatt .head .issued-title, form.ublatt .head .due-title {
  font-size: 1.2rem;
  line-height: 1.2;
  grid-column: left;
  font-weight: bold;
  padding-right: 1em;
}
form.ublatt .head .issued-title {
  grid-row: 3;
}

form.ublatt .head .due-title {
  grid-row: 4;
}

form.ublatt .main {
  margin: 2rem 1rem;
}

@media only screen and (min-width: 40rem) {
  form.ublatt .main {
    margin: 2rem 3rem;
  }
  
}

.row .column:first-child {
  padding-right: 8px;
}
.row .column:last-child {
  padding-left: 8px;
}
.column {
  float: left;
  width: calc(50% - 8px);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.CodeMirror {
  height: auto;
  font-family: "JetBrains Mono", "Fira Code", "Monaco", "Consolas", monospace;
}
table {
  margin: auto;
  border-collapse: collapse;
}

.figures, .figures > p:first-child:last-child {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}

figure {
  text-align: center;
  margin: 1rem;
}

figure > figcaption {
  margin-top: 0.5rem;
}

figure > figcaption::before {
  counter-increment: figure;
  content: 'Fig. ' counter(figure) ': ';
  font-weight: bold;
}

/*.figure::after {
  margin-top: 0.5rem;
  font-size: 0.8em;
  display: block;
  text-align: center;
  counter-increment: figure;
  content: "Figure " counter(figure);
}*/
th {
  padding: 0.5rem 1rem;
  border-bottom: 0.1rem solid black;
}
td {
  padding: 0.5rem 1rem;  
  border-bottom: 0.1rem solid #ddd;
}

form.ublatt > .main {
  counter-reset: h1
}

form.ublatt > .main > section > h1 > .secnum {
    font-size: 1.44rem;
    display: inline-block;
    border: 0.0667rem solid black;
    padding: 0.1rem 0.2rem 0rem 0.2rem;
    text-align: center;
    font-weight: normal;
    margin-right: 0.5rem;
}

form.ublatt > .main > section > h1:first-child {
  font-size: 1.44rem;
  font-weight: normal;
  font-style: italic;
}

form.ublatt > .main > .points {
  color: blue;
  font-size: 1.44rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

form.ublatt > .main > section > h1:first-child > .points {
  float: right;
  color: blue;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.figure {
  text-align: center;
}

.figure img {
  max-width: 80%;
}

input[type=checkbox] + label, input[type=radio] + label {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

:hover > input[type=checkbox] + label::before, :hover >  input[type=radio] + label::before {
  border-color: #000;
  background-color: rgba(0,0,0,0.03);
}

input[type=checkbox] + label::before, input[type=radio] + label::before {
  content: '✔';
  overflow: visible;
  color: transparent;
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
  border: 0.1rem solid #ccc;  
  transition: border-color 0.2s ease,
              color 0.2s ease,
              background-color 0.2s ease;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  flex-shrink: 0;
  text-align: center;
  vertical-align: middle;
}

input[type=radio] + label::before {
  border-radius: 50%;
}

input[type=checkbox]:checked + label::before, input[type=radio]:checked + label::before {
  color: #0022cc;
}

code {
  font-family: "JetBrains Mono";
}

pre {
  overflow-x: auto;
}

pre > code {
  font-size: 0.8em;
  display: table;
  border-spacing: .5rem 0;
  border-collapse: separate;  
  line-height: 1.4;
  counter-reset: line-numbers;   
}

pre > code > .line {
  display: table-row;
  white-space: pre;  
}

pre.lineNumbers > code > .line::before {
  counter-increment: line-numbers;
  content: counter(line-numbers);
  display: table-cell;  
  border-right: 1px solid #ddd;
  text-align: right;
  padding-right: .25rem;
  margin-right: .25rem;
  color: #237893;
}

p + pre > code {
  padding-top: 0;
}

.info {
  background-color: #eee;
  padding: 0.5em 1em 0.5em 3em;
  font-style: italic;  
  margin-bottom: 1em;
  position: relative;
}

.info::before {
  content: 'ⓘ';
  font-style: normal;
  position: absolute;
  top: 1.5em;
  left: 1.3em;
}

.submit {
  position: relative;
  background-color: #eee;  
  padding: 1rem;
}

.submit > .row {
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}

.submit > .row p:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 40rem) {
  .submit {
    padding: 1rem 3rem;    
  }

  .submit > .row {
    flex-direction: row; 
  }

  .submit > .row > div:not(:first-child) {
    padding-left: 2rem;  
  }
}

@media only screen and (min-width: 60rem) {
  .submit {
    margin: 2rem -3rem -2rem -3rem; 
    padding: 1rem 6rem 2rem 6rem;
  }
}

@media only print {
  .submit {
    display: none !important;
  }
}

.submit::before {
  content: '';
  position: absolute;
  top: -.1rem;
  left: 0;
  right: 0;
  display: block;  
  border-top: .2rem dotted #333;  
}

.submit::after {
  color: #333;
  position: absolute;
  font-size: 2rem;
  top: -1.1rem;
  right: .5rem;
  content: '✂';
  font-family: 'icons';
  transform: rotate(-90deg);
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 1rem
}

.submit table.authors {
  text-align: left;
  line-height: 1.5rem;
  white-space: nowrap;
  min-width: 20rem;
}

.submit table.authors th, .submit table.authors td {
  padding: .25rem 0 .25rem .75rem;
}

.submit table.authors th:last-child, .submit table.authors td:last-child {
  padding: .25rem 0.75rem;
}

a {
  cursor: pointer;
}

a:hover {
  color: #333;
}

.submit .field {
  text-align: left;
  font-size: 1rem;
  display: block;  
  font-family: 'TeXGyrePagella', sans-serif;
  width: auto;
}

.compact > ul,
.compact > ol {   
  display: flex;
  flex-flow: row;  
  justify-content: center;
}

.compact > ul > li,
.compact > ol > li {
  margin: 0 1rem;
}


.center {
  text-align: center;
}

.icon.large > i {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}

.icon.large {
  display: inline-block;
  line-height: 2rem;
  vertical-align: middle;  
}

.assess {
  font-family: 'TeXGyrePagella', sans-serif;
  position: absolute;
  right: -5rem;
  width: 4rem;
  top: 0;
}

.solution {
  position: relative;
  color: blue;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: stretch;
  border: 1px solid #eee;
}

.solution > .submission {  
  padding: 1rem 2rem;
  flex: 1;
}

.solution.fail > .submission {
  color: green;
}

.solution.warn > .submission {
  color: green;
}

.solution .assess .icon {  
  font-size: 2rem;
  color: green;
}

.solution .assess.fail .icon {  
  color: red;
}

.solution .assess.warn .icon {  
  color: darkorange;
}

.solution > .feedback {
  color: blue;
  display: none;  
  padding: 1rem 2rem;
  background-color: #eef;
  flex: 1;
}

.solution.fail > .feedback, .solution.warn > .feedback {
  display: block;
}

.solution > .submission {
  color: green;
  display: block;
}

.solution > .submission .mute, .solution > .feedback .mute {
  color: gray;
}

/*@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;    
  } 

  form.ublatt {
    background-color: #222;
    border: 0.0667rem solid #999;
    box-shadow: none;
    color: white;    
  }

  form.ublatt::before {
    border-bottom-color: #999;
  }
}*/