.input {
    display: block;
    position: relative;
    color: #0022cc;
}


.input.default>.rendered {
    visibility: hidden;
}

.input.default>textarea, .input.default>.rendered {
    resize: none;
    overflow: hidden;
    width: calc(100% - 4rem);
    font-family: "TeX Gyre Pagella";
    display: block;
    color: #0022cc;
    padding: 1rem 2rem;
    border: 0.05rem solid #ddd;
    transition: border-color 0.3s ease;
}

.input.default>textarea {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100% - 2rem);
}

.input.default>textarea:focus, .input.default>textarea:hover {
    outline: none;
    border: 0.05rem solid #000;
}


.input.rendered>.rendered {
    grid-column: 1/3;
    grid-row: 1;
    border: 0.05rem solid #ddd;
    transition: border-color 0.3s ease;
    flex-grow: 1;
    padding: 1rem;
    align-self: center;
    text-align: center;
}

.input.markdown.rendered> :not(:empty).rendered {
    text-align: left;
}

.input.markdown.rendered>.rendered> :first-child {
    margin-top: 0;
}

.input.markdown.rendered>.rendered> :last-child {
    margin-bottom: 0;
}

.input>.editor {
    background: #eee;  
}

.input:not(.rendered)>.editor {
    border: 0.05rem solid #000;
    border-radius: 0.2rem;
    overflow: hidden;
}

.input.rendered>.editor {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    grid-column: 1 / 3;
    grid-row: 2;
    border-left: 0.05rem solid #000;
    border-bottom: 0.05rem solid #000;
    border-right: 0.05rem solid #000;
    opacity: 0;
    
    transform-origin: 50% 0;
    transform: scaleY(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    
    pointer-events: none;
    z-index: 10000;
    min-height: 1rem;
    max-height: 200px;
}

/*.input>.editor>.cm-wrap {
    background: #eee;
    height: auto;
    max-height: 200px;
    border: none;
    font-size: 14px;
}

.input>.editor>.ͼ1.cm-focused {
    outline: none;
}*/

.input>.help {
    position: absolute;
    top: 1rem;
    right: -2rem;
    z-index: 1000;
}

@media only print {
    .input>.help {
        display: none;
    }
}

.input>.help:not(:hover):before {
    font-family: 'icons';
    font-size: 1rem;
    content: 'ⓘ';
}

.input>.help:hover::before {
    content: 'Syntax:'
}

.input>.help>a {
    display: none;
}

.input>.help:hover {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 1rem;
}

.input>.help:hover>a {
    display: block;
}

.input.editing .editor {
    grid-row: 2;
    opacity: 0.9;
    transform: scaleY(1);
    pointer-events: unset;
}

.input.rendered>.rendered:hover, .input.editing>.rendered {
    border: 0.05rem solid #000;
}

.input.rendered.editing>.rendered {
    border-bottom: none;
}

.input.rendered .rendered:empty::before {
    width: 100%;
    text-align: center;
    font-family: "TeX Gyre Pagella";
    ;
    content: "Hier klicken um die Antwort zu bearbeiten";
    color: #999;
}

.input .rendered.error {
    font-family: "JetBrains Mono";
    color: #f44336;
}
/*
.input .cm-wrap {
    font-family: "JetBrains Mono";
}

.input .ͼ1 .cm-scroller {
    font-family: "JetBrains Mono" !important;
}*/

.input > .editor .keyword {
  font-weight: bold;
}