<div class="submit">
    <div>
        <h1>Autoren</h1>
        <div class="authors"></div>
    </div>
    <div>
        <h1>Abgabe</h1>
        <p>
            Bitte gebt alle Autoren mit Matrikelnummer und Emailaddresse an und speichert dann eure Lösung.
            Die gespeicherte JSON Datei sendet ihr dann an beide Tutoren per E-Mail.
        </p>
        <div class="buttons">
            <a onclick="ublatt.save()" class="icon large"><i class="icon-popout"></i> Speichern</a>
            <a onclick="ublatt.load()" class="icon large"><i class="icon-popin"></i> Laden</a>
            <a onclick="ublatt.clearSheet()" class="icon large"><i class="icon-trashcan"></i> Leeren</a>
        </div>
    </div>
</div>